body {
  background-image: url("../images/bigtown1.png"); }

ul, body {
  margin: 0;
  padding: 0; }

nav#navigation {
  display: block;
  width: 100%;
  background-color: #211D34;
  height: 50px;
  border: none;
  margin-bottom: 25px;
  position: fixed;
  top: 0;
  z-index: 9999;
  /*
  #bs-example-navbar-collapse-1.navbar-collapse, #bs-example-navbar-collapse-1 .navbar-nav {
    padding: 0;
  }*/ }
  nav#navigation .container-fluid {
    padding-left: 10px;
    padding-right: 10px; }
    nav#navigation .container-fluid div.brand {
      background-color: #211D34; }
      nav#navigation .container-fluid div.brand button.navbar-toggle {
        margin-bottom: 0; }
      nav#navigation .container-fluid div.brand .mdl-tooltip {
        background-color: #211D34; }
    nav#navigation .container-fluid ul.menu-items {
      float: right; }
      nav#navigation .container-fluid ul.menu-items li {
        list-style: none;
        line-height: 50px;
        margin: 0;
        background-color: #211D34; }
      nav#navigation .container-fluid ul.menu-items li.active-link, nav#navigation .container-fluid ul.menu-items a:hover, nav#navigation .container-fluid ul.menu-items a:focus {
        background-color: rgba(158, 158, 158, 0.32);
        color: white; }
    nav#navigation .container-fluid a {
      text-decoration: none;
      color: white;
      font-family: 'Andika', sans-serif;
      font-size: 17px;
      padding: 0 15px;
      line-height: 50px; }
    nav#navigation .container-fluid a.navbar-brand {
      padding: 0 30px; }
    nav#navigation .container-fluid a:link {
      outline: none; }
    nav#navigation .container-fluid .language {
      display: block;
      float: right;
      height: 50px;
      line-height: 50px;
      margin-left: 10px; }
      nav#navigation .container-fluid .language select#language {
        font-family: 'Andika', sans-serif; }

#add_div_main, #add_div_about_me, #add_div_portfolio, #add_div_contacts {
  height: 50px; }

.header_content {
  width: 100%;
  height: 35px;
  background-color: rgba(24, 31, 74, 0.61); }
  .header_content p {
    text-align: center;
    line-height: 35px;
    font-size: 22px;
    color: #ffffff;
    font-weight: bold; }

#main {
  width: 55%;
  background-color: rgba(255, 255, 255, 0.63);
  margin: 120px auto 245px; }
  #main .content_photo {
    background: url("../images/my_photo300_300.png") no-repeat top center;
    width: 100%;
    height: 330px; }
  #main .content_info {
    padding-bottom: 20px; }
    #main .content_info h1, #main .content_info h2, #main .content_info h4 {
      text-align: center;
      font-family: 'Andika', sans-serif;
      color: #12064a;
      margin: 0; }
    #main .content_info h1 {
      margin-bottom: 10px; }
    #main .content_info h2 {
      margin-bottom: 40px; }
    #main .content_info h4 > b {
      color: #12064a; }
    #main .content_info h4 {
      font-size: 20px; }
    #main .content_info p {
      margin-top: 170px;
      text-align: center; }
      #main .content_info p a {
        color: #2d1f6f;
        font-size: 14px;
        font-weight: bold;
        background: url("../images/img_pdf1.png") no-repeat 0% 50%;
        padding-left: 25px; }
      #main .content_info p a:hover {
        color: #2d1f6f;
        font-weight: bold; }

#about_me {
  margin: 25px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.63);
  font-family: 'Andika', sans-serif; }
  #about_me .my_photo {
    float: left;
    width: 22%;
    height: 500px;
    background: url("../images/my_photo_big_size.png") no-repeat 50% 6%; }
  #about_me .my_skills {
    float: right;
    width: 32%;
    margin-top: 15px; }
    #about_me .my_skills .container {
      width: 360px;
      margin: 0; }
      #about_me .my_skills .container .progress {
        height: 21px;
        margin-bottom: 26px;
        font-family: 'Andika', sans-serif; }
        #about_me .my_skills .container .progress .color_black {
          background-color: black; }
        #about_me .my_skills .container .progress .color_violet {
          background-color: #4A1A4A; }
        #about_me .my_skills .container .progress .color_brown {
          background-color: #5D372A; }
  #about_me .my_edu_exp {
    width: 46%;
    float: left;
    padding: 0 10px 25px 15px; }
    #about_me .my_edu_exp h2, #about_me .my_edu_exp h3 {
      font-family: 'Andika', sans-serif;
      color: #12064a;
      margin-top: 10px; }
    #about_me .my_edu_exp h2 {
      margin-bottom: 0; }
    #about_me .my_edu_exp h3 {
      margin-bottom: 20px; }
    #about_me .my_edu_exp p {
      font-size: 17px;
      text-align: justify; }
      #about_me .my_edu_exp p b {
        color: #2D1F6F; }
    #about_me .my_edu_exp span {
      color: #2D1F6F; }
    #about_me .my_edu_exp p.list {
      margin: 0; }
    #about_me .my_edu_exp ul {
      margin-left: 15px;
      list-style: none; }
      #about_me .my_edu_exp ul li {
        font-size: 17px; }

#portfolio {
  margin: 25px 0;
  background-color: rgba(255, 255, 255, 0.63);
  min-height: 830px;
  /*
  .thumbs {
    width: 1200px;
    margin-bottom: 30px;
    a {
      width: 200px;
      height: 150px;
    }
  }*/ }

#credit {
  padding: 30px 0; }
  #credit p.credit {
    font-size: 16px;
    font-weight: bold;
    width: 450px;
    padding: 5px 16px;
    margin-bottom: 5px;
    color: #211D34; }
    #credit p.credit a {
      font-weight: normal;
      color: rgba(24, 31, 74, 0.61); }
    #credit p.credit a:hover {
      font-weight: bold; }

#contacts {
  margin: 25px 0;
  min-height: 830px; }
  #contacts .content_contacts {
    width: 55%;
    margin: 70px auto;
    background-color: rgba(255, 255, 255, 0.63);
    padding: 50px 50px; }
    #contacts .content_contacts h4 {
      text-align: center;
      font-family: 'Andika', sans-serif;
      margin: 0;
      font-size: 20px;
      line-height: 50px; }
      #contacts .content_contacts h4 a.facebook, #contacts .content_contacts h4 a.skype, #contacts .content_contacts h4 a.ln, #contacts .content_contacts h4 a.twitter, #contacts .content_contacts h4 a.github, #contacts .content_contacts h4 a.e_mail {
        padding: 0 45px;
        color: rgba(24, 31, 74, 0.61); }
      #contacts .content_contacts h4 a.facebook:hover, #contacts .content_contacts h4 a.skype:hover, #contacts .content_contacts h4 a.ln:hover, #contacts .content_contacts h4 a.twitter:hover, #contacts .content_contacts h4 a.github:hover, #contacts .content_contacts h4 a.e_mail:hover {
        color: #12064a;
        font-weight: bold;
        text-decoration: none; }
      #contacts .content_contacts h4 a.facebook {
        background: url("../images/facebook.png") no-repeat; }
      #contacts .content_contacts h4 a.facebook:hover {
        background: url("../images/facebook_color.png") no-repeat; }
      #contacts .content_contacts h4 a.skype {
        background: url("../images/skype.png") no-repeat; }
      #contacts .content_contacts h4 a.skype:hover {
        background: url("../images/skype_color.png") no-repeat; }
      #contacts .content_contacts h4 a.ln {
        background: url("../images/linkedin.png") no-repeat; }
      #contacts .content_contacts h4 a.ln:hover {
        background: url("../images/linkedin_color.png") no-repeat; }
      #contacts .content_contacts h4 a.twitter {
        background: url("../images/twitter.png") no-repeat; }
      #contacts .content_contacts h4 a.twitter:hover {
        background: url("../images/twitter_color.png") no-repeat; }
      #contacts .content_contacts h4 a.github {
        background: url("../images/github.png") no-repeat; }
      #contacts .content_contacts h4 a.github:hover {
        background: url("../images/github_color.png") no-repeat; }
      #contacts .content_contacts h4 a.e_mail {
        background: url("../images/email.png") no-repeat; }
      #contacts .content_contacts h4 a.e_mail:hover {
        background: url("../images/email_color.png") no-repeat; }
    #contacts .content_contacts h4 > b {
      color: #12064a; }

@media screen and (max-width: 1100px) {
  #about_me .my_skills {
    clear: both;
    width: 100%;
    margin-top: 20px; }
    #about_me .my_skills .container {
      width: 500px;
      margin: 0 auto; }
  #about_me .my_edu_exp {
    width: 66%; }
  #about_me .my_photo {
    width: 33%; } }
@media screen and (max-width: 767px) {
  #about_me .my_skills {
    clear: both;
    width: 100%;
    margin-top: 20px; }
    #about_me .my_skills .container {
      width: 500px;
      margin: 0 auto; }
  #about_me .my_edu_exp {
    width: 100%;
    clear: both; }
    #about_me .my_edu_exp h2, #about_me .my_edu_exp h3 {
      text-align: center; }
  #about_me .my_photo {
    width: 100%;
    height: 350px; }

  nav#navigation .container-fluid button {
    padding: 7px 7px;
    margin-right: 5px; }
  nav#navigation .container-fluid a.navbar-brand {
    padding: 0 10px;
    font-size: 13px; }

  #main {
    width: 90%; } }
@media screen and (max-width: 700px) {
  #contacts .content_contacts {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
